<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/images/Electra-Logo-White.png" type="image/x-icon">
        <title>Electra</title>
        {% block link %}
            <link rel="stylesheet" href="../static/css/base.css">
        {% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}


        <footer>
            <p>&copy; 2025 My Web App. All rights reserved.</p>
        </footer>
    </body>
</html>
